/* Variables */
:root {
    --base-background : #FFFDFB;
    --default-text: #727249;
}


/* elements */
h1{
    font-size: 96px;
    font-weight: 400;
    margin: 0px;
}

h1, h2, h3, h4, p {
    color: var(--default-text);
}


/* IDs */
#home-page-image{
    max-width: 100%;
    width: 1236px;
    height: auto;
}

#header-img{
    max-width: 100%;
    width: 100%;
    height: auto;
}

#header-event-info{
    font-size: 40px;
}


/* classes */
.App{
    padding-left: 100px;
    padding-right: 100px;

    background-color: var(--base-background);
}

.contain-center{
    text-align: center;
}
